###############################################
# Traefik Static Configuration (templated)
###############################################

api:
  dashboard: true
  insecure: false

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https

  https:
    address: ":443"

providers:
  file:
    filename: /config.yml
    watch: true
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: devops-stage-6_web


###############################################
# ACME (Let's Encrypt via Cloudflare DNS)
###############################################
certificatesResolvers:
  cloudflare:
    acme:
      email: "daaniel.macdonald@gmail.com"
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"


###############################################
# Logging
###############################################
log:
  level: INFO

accessLog:
  filePath: "/var/log/traefik/access.log"
