###############################################
# Traefik Static Configuration (templated)
###############################################

api:
  dashboard: true
  insecure: false

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https

  https:
    address: ":443"

providers:
  file:
    filename: /config.yml
    watch: true


###############################################
# ACME (Let's Encrypt via Cloudflare DNS)
###############################################
certificatesResolvers:
  cloudflare:
    acme:
      email: "{{ cloudflare_email }}"
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"


###############################################
# Logging
###############################################
log:
  level: INFO

accessLog:
  filePath: "/var/log/traefik/access.log"
