http:
  routers:
    frontend:
      rule: "Host(`{{ domain }}`)"
      service: frontend
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - secureHeaders
        - gzip

    auth:
      rule: "Host(`{{ domain }}`) && PathPrefix(`/api/auth`)"
      service: auth
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - auth-stripprefix
        - secureHeaders
        - gzip

    login:
      rule: "Host(`{{ domain }}`) && Path(`/login`)"
      service: auth
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - secureHeaders
        - gzip

    todos-direct:
      rule: "Host(`{{ domain }}`) && PathPrefix(`/todos`)"
      service: todos
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - secureHeaders
        - gzip

    todos:
      rule: "Host(`{{ domain }}`) && PathPrefix(`/api/todos`)"
      service: todos
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - todos-stripprefix
        - secureHeaders
        - gzip

    users:
      rule: "Host(`{{ domain }}`) && PathPrefix(`/api/users`)"
      service: users
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      middlewares:
        - users-stripprefix
        - secureHeaders
        - gzip

  services:
    frontend:
      loadBalancer:
        servers:
          - url: "http://frontend:8080"

    auth:
      loadBalancer:
        servers:
          - url: "http://auth-api:8080"

    todos:
      loadBalancer:
        servers:
          - url: "http://todos-api:8082"

    users:
      loadBalancer:
        servers:
          - url: "http://users-api:8081"

  middlewares:
    auth-stripprefix:
      stripPrefix:
        prefixes:
          - /api/auth

    todos-stripprefix:
      stripPrefix:
        prefixes:
          - /api/todos

    users-stripprefix:
      stripPrefix:
        prefixes:
          - /api/users

    secureHeaders:
      headers:
        sslRedirect: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    gzip:
      compress: {}